<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Reset Password</title>
    <link rel="stylesheet" href="/reset-password.css" />
  </head>
  <body>
    <form method="post" action="<%= '/password/reset/' + token %>">
      <input type="text" placeholder="Username" name="username" required />
      <input
        type="password"
        placeholder="New Password"
        name="password"
        required
      />
      <input type="submit" value="Reset Password" />
    </form>
  </body>
</html>
