.username {
  margin-top: 80px;
  text-align: center;
  font-family: "Raleway", sans-serif;
}
.tab {
  padding: 0 !important;
  min-width: 100px !important;
  text-transform: capitalize !important;
}
.white {
  background-color: #fff !important;
}
