.white {
  color: #fff !important;
  border: 1px solid #fff !important;
  border-radius: 5px;
  &:hover {
    border-width: 0px !important;
  }
  &:focuse {
    border-color: #fff !important;
  }
}
.ForgotPassword {
  margin-top: 80px;
  width: 700px !important;
  max-width: 100%;

  .forgotPasswordInput {
    margin-bottom: 10px;
    &:hover {
      border: 1px solid #fff !important;
      border-radius: 5px;
    }
    &:focuse {
      border-color: #fff !important;
    }
  }
  .forgotPasswordButton {
    text-transform: capitalize;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
  }
}

.loaderContainer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.loader {
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  position: absolute;
}
